spring:
    %%DATASOURCE_TEMPLATE%%
app:
  name: %%APPLICATION_NAME%%
  api:
    title: Spring Boot APIs
    version: 1.0.0
    base-package: %%APPLICATION_CONTROLLER_FQDN%%
    description: %%APPLICATION_DESCRIPTION%%
    swagger:
      enable: true