spring:
    datasource:
        port: %%DATASOURCE_PORT%%
        host: %%DATASOURCE_HOST%%
        database: %%DATASOURCE_DATABASE_NAME%%
        url: %%DATASOURCE_URL%%
        username: %%DATASOURCE_USERNAME%%
        password: %%DATASOURCE_PASSWORD%%
app:
  name: %%APPLICATION_NAME%%
  api:
    title: Spring Boot APIs
    version: 1.0.0
    base-package: %%APPLICATION_CONTROLLER_FQDN%%
    description: %%APPLICATION_DESCRIPTION%%
    swagger:
      enable: true